<?xml version='1.0' encoding='utf-8'?>
<model>
    <name>Open_Duck_Mini_Simplified</name>
    <author>SandyPockets</author>
    <version>1.0.0</version>
    <sdf version="1.7">Open_Duck_Mini_Simplified.sdf</sdf>
    <description>This is the simplified model of the Open_Duck_mini</description>
</model>